<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }} // Justin Beckwith</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" >
		<meta name="Description" content="The writings and musings of Justin Beckwith.  A lot of node.js, some management, and a few things inbetween.">
		<link rel="alternate" type="application/rss+xml" title="Justin Beckwith" href="feed/" />
		<link rel="stylesheet" href="/css/site.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
		<link rel="dns-prefetch" href="https://yt3.ggpht.com">
		<link rel="dns-prefetch" href="https://static.doubleclick.net">
		<link rel="dns-prefetch" href="https://i.ytimg.com">
		<link rel="dns-prefetch" href="https://www.google.com">
		<meta name="theme-color" content="#471949">
	</head>
	<body>
		<div class="topbar"></div>
		<div class="logo">
			<div class="logo-inner">
				<a href="/">
					<img src="/images/head.png" alt="Justin Beckwith">
				</a>
				<div class="logo-title">
					<div class="logo-name">Justin Beckwith</div>
					<div class="logo-sub">I make stuff at Google. I'm trying to make building applications for the cloud just a little bit easier.</div>
				</div>
				<div class="link-wrapper">
					<ul>
						<li><a href="/feed/" title="RSS" class="rss"></a></li>
						<li><a href="https://www.twitter.com/justinbeckwith" class="twitter" title="Follow Us on Twitter!"></a></li>
					</ul>
				</div>
				<div style="clear:both"></div>
			</div>
		</div>
		<div class="nav-wrapper">
			<nav>
				<ul>
					<li><a href="/">Blog</a></li>
					<li><a href="/about/">About</a></li>
					<li><a href="https://github.com/JustinBeckwith/">Code</a></li>
					<li><a href="https://twitter.com/JustinBeckwith">Twitter</a></li>
					<li><a href="https://www.linkedin.com/in/beckwith">LinkedIn</a></li>
				</ul>
			</nav>
		</div>
		<div class="container" id="main-content">
			{{ content }}
		</div>
		<footer>
			<div>Note: Opinions expressed are solely my own and do not express the views or opinions of Microsoft or Google.</div>
			<div>&copy; Copyright {{ site.time| date:"%Y" }}, <a href="https://jbeckwith.com">Justin Beckwith</a></div>
		</footer>
		<script type="text/javascript">
			var disqus_shortname = '53bytes';
			(function() {
				var s = document.createElement('script'); s.async = true;
				s.type = 'text/javascript';
				s.src = '//' + disqus_shortname + '.disqus.com/count.js';
				(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
			}());

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-19818923-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

			(function() {
				if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
					var msViewportStyle = document.createElement("style");
					msViewportStyle.appendChild(document.createTextNode("@-ms-viewport{width:auto!important}"));
			    	document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
				}
			})();
		</script>
	</body>
</html>
